<body>
		<div class="container">
			<div class="jumbotron">
			<h1 class="display-4">Turf Tracker</h1>
			<p class="lead">Simple app to help Golf maintence teams keep track of their daily tasks</p>
			<hr class="my-4">
			<a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
		</div>
	</div>
</body>